# public function
snippet pubf
	public function ${1}(${2})
	{
		${3}
	}
# protected function
snippet prof
	protected function ${1}(${2})
	{
		${3}
	}
# private function
snippet prif
	private function ${1}(${2})
	{
		${3}
	}
# public cosntruct function
snippet pcof
	public function __construct(${1})
	{
		${2}
	}
